[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
Werkzeug = "*"
ipdb = "*"

[requires]
python_full_version = "3.12.0"
